.idea
*.iml
*.class
docs/.gradle
hsc_diagrams.ldb
gradle-app.setting
.gradle
htmlsanitycheck-doc.sublime-project
htmlsanitycheck-doc.sublime-workspace
gen-html/css/base-style.css
gen-html/htc/css3-pie-1.0beta3.htc
gen-html/index.html
gen-html/css/style.css
gen-html/with-failures/css/base-style.css
gen-html/with-failures/htc/css3-pie-1.0beta3.htc
gen-html/with-failures/index.html
gen-html/with-failures/css/style.css
Thumbs.db
build-plugin.gradle
build-doc.txt
.sonar
build/
/.nb-gradle/
setenv.sh
out
structure101-settings.javax.hsp
s101plugin.properties
s101plugin.state
structure101-actions.xml
structure101-spec.xml
archunit-0.5.0.jar
~$*
src/docs/excel