---
language: groovy
sudo: false

jdk:
  - oraclejdk8

# Handle git submodules yourself
git:
    submodules: false
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_install:
#    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
#    - git submodule update --init --recursive


before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

install: true

script:
  - ./gradlew check --scan -stacktrace


after_success:
- test ${TRAVIS_TAG} && ./gradlew publishPlugins || true
