<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>../../build/maven-repo</localRepository>

    <pluginGroups>
        <pluginGroup>
            org.sonarsource.scanner.maven
        </pluginGroup>
    </pluginGroups>

    <servers>
        <server>
            <id>tc-bib-releases</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
            <configuration>
                <httpConfiguration>
                    <all>
						<!-- Preemptive - Auth einfach immer mitsenden -->
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
		<server>
            <id>tc-bib-snapshots</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
            <configuration>
                <httpConfiguration>
                    <all>
						<!-- Preemptive - Auth einfach immer mitsenden -->
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <name>Nexus</name>
            <url>https://nexus.apps.ocp.tc.gby.msg.team/repository/maven-public/</url>
        </mirror>
        <mirror>
            <id>artifactory</id>
            <mirrorOf>*</mirrorOf>
            <name>Artifactory</name>
            <url>http://registry.ct.ocp.tc.corp/artifactory/maven-public-all/</url>
        </mirror>
    </mirrors>


    <profiles>
        <profile>
            <id>Nexus</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>https://ct.hub.msg.team/cqu-sonarqube/</sonar.host.url>
            </properties>

            <repositories>
				<repository>
					<id>central</id>
					<url>https://nexus.apps.ocp.tc.gby.msg.team/repository/maven-public/</url>
				</repository>
				<repository>
					<id>tc-bib-snapshots</id>
					<name>nexus Gradle-PlugIns Proxy Repository Snapshots</name>
					<url>https://nexus.apps.ocp.tc.gby.msg.team/repository/maven-tc-bib-snapshots/</url>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
				</repository>
				<repository>
					<id>tc-bib-releases</id>
					<name>nexus Maven Plugin Repository Releases</name>
					<url>https://nexus.apps.ocp.tc.gby.msg.team/repository/maven-tc-bib-releases/</url>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
				</repository>
			</repositories>

            <pluginRepositories>

                <pluginRepository>
                    <id>central</id>
                    <url>https://nexus.apps.ocp.tc.gby.msg.team/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>Artifactory</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://registry.ct.ocp.tc.corp/artifactory/maven-public-all/</url>
                </repository>
                <repository>
                    <id>tc-bib-snapshots</id>
                    <name>artifactory Gradle-PlugIns Proxy Repository Snapshots</name>
                    <url>http://registry.ct.ocp.tc.corp/artifactory/msg-generic-maven/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>tc-bib-releases</id>
                    <name>artifactory Maven Plugin Repository Releases</name>
                    <url>http://registry.ct.ocp.tc.corp/artifactory/msg-generic-maven/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://registry.ct.ocp.tc.corp/artifactory/maven-public-all/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
