name: GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      DTC_HEADLES: true
    steps:
      - uses: actions/checkout@v2
      - name: exportExcel
        run: ./dtcw exportExcel
      - name: generateSite
        run: ./dtcw generateSite
      - name: htmlSanityCheck
        run: ./dtcw htmlSanityCheck
      - name: copyToPublic
        cp -r ./build/microsite/output ./public && cp ./build/report/htmlchecks ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
#        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

