permissions:
  checks: write
  pull-requests: write

name: Build and Test
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml
    with:
      # SonarQube requires JDK 17 or higher
      java-version: '17'
      run-sonar: true

  post-build:
    needs: build-artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .

      - name: 'Publish Test Results'
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        if: always()
        with:
          files: |
            **/build/test-results/**/*.xml

      - name: JaCoCo Test Coverage Report
        uses: PavanMudigonda/jacoco-reporter@v5.0
        with:
          coverage_results_path: "build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml"
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Collect state upon failure
        if: failure()
        run: |
          echo "Git:"
          git status
          echo "Env:"
          env
          echo "PWD:"
          pwd
          echo "Files:"
          find * -ls
          ./gradlew javaToolchains
