name: HTML Sanity Check Matrix Test
on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml
    with:
      # SonarQube requires JDK 17 or higher
      java-version: '17'

  test-java-os-mix:
    needs: build-artifacts
    strategy:
      matrix:
        os-version: [ ubuntu-latest, macos-14, windows-latest ]
        java-version: [ 8, 11, 17, 21 ]
        exclude:
          - os-version: macos-14
            java-version: 8
    runs-on: ${{ matrix.os-version }}
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .

      - name: Make HSC file executable
        run: chmod +x htmlSanityCheck-cli/build/install/hsc/bin/hsc

      - name: Execute (Gradle Plugin) integration test (on Unixes)
        if: runner.os != 'Windows'
        run: |
          cd integration-test/gradle-plugin
          uname -a
          ./gradlew --version
          ./gradlew htmlSanityCheck --scan

      - name: Execute (Gradle Plugin) integration test (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          cd integration-test/gradle-plugin
          uname -a
          cmd /c "echo off && gradlew.bat --version"
          cmd /c "echo off && gradlew.bat htmlSanityCheck --scan"

        # If we ever need to debug the file system contents
        #   Get-ChildItem -Recurse -File | Format-Table Name, Length, LastWriteTime
        #   Get-ChildItem -Recurse -File ./integration-test | Format-Table Name, Length, LastWriteTime

      - name: Collect state upon failure
        if: failure()
        run: |
          echo "Git:"
          git status
          echo "Env:"
          env | sort
          echo "PWD:"
          pwd
          echo "Files:"
          find * -ls
          ./gradlew javaToolchains
          
